! xrdb -load ~/.Xdefaults

xterm*foreground: #f8f8f2
xterm*background: #1e1f29
xterm*cursorColor: #bbbbbbG

xterm*saveLines: 10000
xterm*faceName: BitStream Vera Sans Mono
xterm*faceSize: 16
xterm*toolBar: On

xterm*rightScrollBar: true
