! xrdb -load ~/.Xdefaults

#include "/home/rojo/Downloads/Xresources-themes/iterm-Dracula.Xresources"

xterm*saveLines: 10000
xterm*faceName: BitStream Vera Sans Mono
xterm*faceSize: 16
xterm*toolBar: On

xterm*rightScrollBar: true


